.characters-cards {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
column-gap: 10px;
}
@media (width < 692px) {
    .characters-cards {
        justify-content: space-around;
    }
}
@media (width <= 480px) {
    .characters-cards {
        justify-content: space-around;
    }
}