.comic-wrapper{
position: relative;
} 

.comic-detail{
display: flex;
flex-wrap: wrap;
gap: 50px;
font-size: 18px;
line-height: 21px;
line-height: 100%;
color: #000;
}

.comic-detail__image-wrapper{
flex-basis: 293px;

height: 450px;
}

.comic-detail__description-block{
flex-basis: 550px;
display: flex;
flex-direction: column;
}

.comic-detail__name{
font-size: 22px;
line-height: 26px;
font-weight: 700;
color: #000;
margin-bottom: 28px;
}

.comic-detail__description{
margin-bottom: 40px;
}

.comic-detail__page-info{
margin-bottom: 28px;
}

.comic-detail__language-info{
margin-bottom: 28px;
}

.comic-detail__price-info{
font-size: 24px;
line-height: 28px;
color: #9f0013;
}

.comic-detail__action-return{
color: inherit;
position: absolute;
text-decoration: none;
font-weight: 700;
top: 0px;
right: 0px;
}